body{
  height:10000px;

/* building the background with multiple css backgrounds*/
}

html, body {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 1024px;

}


body{  background-image: url("../images/grass2.png"),
   url("../images/grass.png"),
   url("../images/clouds2.png"),

  url("../images/clouds.png");

  background-position:100px 450px,  20px 300px, 0 170px, left top;

  background-repeat: repeat-x;

  background-color:#009900;
}

p{
  color: black;
   font-size: 200%;
 font-family: 'Indie Flower', cursive;
padding: 10px;
}


/*top wrapper*/
#wrapper {

  width:900px;
  margin: 0 auto;
  height: 9500px;
  position: relative;
  border-radius: 25px;

}

#princess{z-index: 100;
  height: 300px;

 position: absolute;
 left:50%;
  margin-left:-80px;
   top:200px;

}


h1{
  font-color:black;
  font-family: 'Barrio', cursive;
  font-size: 300%
}

h2{
  font-color:black;
   font-family: 'Indie Flower', cursive;
   font-size: 100%;
  text-align: center;

}

#arrowbox{
  position: absolute;
  left:600px;
  top:100px;
  height: 200px;
  width: 200px;

}
#arrow{
  top: 20px;
left: 100px;
  height: 100px;
  position: relative;

}



.tint{ background-color:black;
  opacity: .5;
}


div#zone1, #zone2, #zone3, #zone4, #zone5, #zone6, #zone7, #zone8, #zone9, #zone10, #zone11, #zone12{
  height: 400px;
  width: 900px;
overflow: hidden;

}



/*beginning of the moving parts in wrapper1*/

#text1{
  width: 400px;
  height: 200px;

  left: 600px;
  top: 400px;
  position: relative;
  z-index: 90;



}

#intro{
  padding: 2px;
  width: 600px;
  height: 300px;
  left: 120px;
  top: 0px;
  position: relative;

border-radius:25px;
background-color: #99ccff;
z-index:100;



}

#scrolldown{
  width: 200px;
  height: 500px;
opacity: .7;
  left: -20px;
  top: 100px;
  position: relative;
z-index: 89;



}

#text2{
  width: 400px;
  height: 200px;

  text-align: left;
  left: -100px;
  top: 700px;
  position: relative;

z-index: 88;

}



#text3{
  width: 400px;
  height:200px;
  left: 600px;
  top: 1400px;
  position: relative;
z-index:87;


}

#text4{
  width: 400px;
  height: 200px;

  text-align: left;
  left: -100px;
  top: 2100px;
  position: relative;

z-index:86;

}

#text5{
  width: 400px;
  height: 200px;
  left: 600px;
  top: 2800px;
  position: relative;
z-index:85;



}


#text6{
  width: 400px;
  height: 200px;

  text-align: left;
  left: -100px;
  top: 3500px;
  position: relative;
z-index:86;


}


#text7{
  width: 600px;
  height: 200px;

  left: -100px;
  top: 4200px;
  position: relative;
z-index:85;



}

#text8{
  background-color:
  width: 100px;
  height: 300px;

  text-align: left;
  left: -400px;
  top: 5050px;
  position: relative;
background-color: #99ccff;
border-radius: 25px;
z-index:84;



}


#name{
  text-align: center;
  position: relative;
margin: 50px auto;
font-size: 150%;


}



#story{
  text-align: left;
  width:800px;
  height: 500px;
  position: relative;
  margin: 100px auto;
  border-radius:25px;
  background-color: #99ccff;
  border: #99ccff solid 1px;

}


#abouttitle{
  width: 300px;
  height:200px;
margin: 50px auto;
  position: relative;
  font-size: 350%;
  text-align: center;

}



#aboutme{
  font-size: 200%;
  width: 75px;
  height:50px;
  left: 740px;
  top: 370px;
  position:relative;
  z-index: 90;
   font-family: 'Indie Flower', cursive;
   border-radius:10px;
   background-color: #99ccff;
   border: #99ccff solid 1px;
}

.iframe{
  margin: 50px auto;
}
}


a:link{
  color: black;

}
a:hover{white;}


/*monsters!*/
#cottoncandy{
  position: relative;
  left: -20px;
  top: 400px;
  height:200px;
  z-index:81;
}


#ghost{
  position: relative;
  left: 600px;
  top: 700px;
  height:350px;
  z-index:80;
}

#liopleurodon{
  position: relative;
  left: -300px;
  top: 1500px;
  height:300px;
  z-index:79;
}

#goblin{
  position: relative;
  left: 600px;
  top: 2100px;
  height:400px;
  z-index:78;
}

#octopus{
  position: relative;
  left: -300px;
  top: 2800px;
  height:350px;
  z-index:77;
}

#troll{
  position: relative;
  left: 600px;
  top: 3500px;
  height:300px;
  z-index:76;
}

#mushroom{
  position: relative;
  left: 600px;
  top: 4200px;
  height:500px;
  z-index:75;
}

#prince{
  position: relative;
  left:1000px;
  top: -450px;
  height:230px;
  z-index:100;
}



/*ending of the moving parts in wrapper1*/



/* bottom wrapper*/
#wrapper2{

  width: 900px;
  height: 500px;

  position: relative;
  left: 50%;
  margin-left: -450px;
  top: 50px;
  border-radius: 25px;
}

#bottombar{
  width: 100px;
  height: 100px;

  position: relative;
  z-index:50;

}

#castle{
  border-radius: 25px;
  position: relative;
  height: 800px;
  left:-450px;
  top:0;
  z-index:48;
}

.right{
  font-family: 'Indie Flower', cursive;
  font-size: 150%;
  position: relative;
  margin: 50px auto;
  border-radius:10px;
  background-color: #99ccff;
  border: #99ccff solid 1px;
  width: 100px;
  height: 70px;

}
